# Python virtual environments
venv/
.venv/
env/
ENV/
vnev

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Python build
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.temp